<div class="index-container">
	<div class="banner">
		<h1>Stardew Valley Crop Assistant</h1>
	</div>
	<a href="/crop_directory">
		<div class="crop-directory">
			<h2 class="index-header">Crop Directory</h2>
			<img class="index-img" src="/img/Strawberry.png">
			<p class="paragraph-index">An index of the crops from <em>Stardew Valley</em> and all of their information.</p>
		</div>
	</a>
	<a href="/calendar/spring">
		<div class="crop-planner">
			<h2 class="index-header">Crop Planner</h2>
			<img class="index-img" src="/img/Abigail.png">
			<p class="paragraph-index">An interactive calendar for planning your next season of farming.</p>
		</div>
	</a>
</div>
