<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Stardew Crop Planner</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="icon" href="/img/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
      $(document).ready(function(){
        $("#button-one").click(function(){
          $("#addDiv").fadeToggle(300);
          $("#addDivInfo").slideToggle(300);
          $("#deleteDiv").fadeOut(100);
          $("#deleteDivInfo").fadeOut(100);
        });
      });

      $(document).ready(function(){
        $("#button-two").click(function(){
          $("#deleteDiv").fadeToggle(300);
          $("#deleteDivInfo").slideToggle(300);
          $("#addDiv").fadeOut(100);
          $("#addDivInfo").fadeOut(100);
        });
      });

      $(document).ready(function(){
        $("#button-three").hover(function(){
          $("#homeInfo").slideToggle(300);
        });
      });
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  	<main>
  		<%== yield %>
  	</main>
  </body>
</html>