<div class="page-login-container">
  <div class="login-container">
    <h2>Login</h2>
    <p class="login-explanation">Been here before? Welcome back! Login here and enjoy the calendar. Happy farming!</p>
    <form action="/login" method="post">
      <label>Username</label>
      <input type="text" name="username" pattern="[A-Za-z0-9]{8,}" minlength="0" maxlength="20" required>
      <label>Password</label>
      <input type="password" name="password" pattern="[A-Za-z0-9]{8,}" minlength="8" maxlength="20" required>
      <input type="submit" value="Login">
    </form>
    <% if session[:login_error] %>
      <p class="error-msg"><%= session.delete(:login_error) %></p>
    <% elsif session[:login_success] %>
      <p class="success-msg"><%= session.delete(:login_success) %></p>
    <% end %>
  </div>
  <div class="register-container">
    <h2>Register</h2>
    <p class="login-explanation">New to the site? Register here to use the interactive calendar and save your crops.</p>
    <form action="/register" method="post">
      <label>Username</label>
      <input type="text" name="username" pattern="[A-Za-z0-9]{8,}" minlength="0" maxlength="20" required>
      <label>Password</label>
      <input type="password" name="password" pattern="[A-Za-z0-9]{8,}" minlength="8" maxlength="20" required>
      <input type="submit" value="Register">
    </form>
    <% if session[:register_error] %>
      <p class="error-msg"><%= session.delete(:register_error) %></p>
    <% elsif session[:register_success] %>
      <p class="success-msg"><%= session.delete(:register_success) %></p>
    <% end %>
  </div>
</div>
