@charset "UTF-8";

body {
	font-size: 24px;
	font-family: monospace;
	background-image: url("/img/background.jpg");	background-size: cover;
	background-repeat: no-repeat;
}

/* login page */

.page-login-container {
	display: block;
	margin: 0 auto;
	width: 1000px;
	height: 890px;
}

.page-login-container h2 {
	text-shadow: 2px 1px white;
	margin: 25px 0;
}

.login-container, .register-container {
	display: inline-block;
	width: 400px;
	height: 350px;
	margin: 200px 45px;
	text-align: center;
	background-color: rgba(173,216,230,.8);
	box-sizing: border-box;
	border: 2px solid white;
	border-radius: 8px;
	box-shadow: 2px 2px;
}

.login-container {
	float: left;
}

.register-container {
	float: right;
}

.success-msg {
	font-size: 1.2rem;
	color: green;
	margin: 10px 0 0 0;
}

.error-msg {
	font-size: 1.2rem;
	color: red;
	margin: 10px 0 0 0;
}

.login-explanation {
	font-size: 1rem;
	margin: 15px 25px;
}

.page-login-container label {
	font-size: 1rem;
}

.page-login-container input {
	margin: 5px 0;
}

.page-login-container input[type="submit"] {
	margin-top: 18px;
}

/* index page */

.logout-container {
	position: fixed;
	top: 10px;
	right: 20px;
}

.logout-container input {
	padding: 15px 30px;
	font-size: 1.3rem;
	background-color: rgba(173,216,230,.8);
	border: none; 
	border-radius: 8px;
	box-shadow: 4px 4px #551A8B;
	cursor: pointer;
	font-weight: bold;
	text-shadow: 1px 1px white;
	transition-duration: 1s;
}

.logout-container input:hover {
	background-color: rgba(255, 179, 71,.8);
}

.index-container {
	display: block;
	margin: 0 auto;
	width: 1000px;
	height: 750px;
}

.crop-directory:hover, .crop-planner:hover {
	background-color: rgba(255, 179, 71,.8);
}

.banner {
	background-image: url("/img/wood_two.jpeg");
	color: white;
	text-shadow: 2px 2px black;
	display: block;
	margin: 0 auto;
	width: 100%;
	font-family: 'Inconsolata', monospace;
	text-align: center;
	background-color: rgba(173,216,230,.8);
	box-sizing: border-box;
	border: 2px solid white;
	border-radius: 8px;
	box-shadow: 2px 2px black;
	margin-top: 250px;
}

.crop-directory, .crop-planner {
	display: inline-block;
	box-sizing: border-box;
	width: 400px;
	height: 200px;
	margin: 60px 20px;
	text-align: center;
	background-color: rgba(173,216,230,.8);
	box-sizing: border-box;
	border: 2px solid white;
	border-radius: 8px;
	box-shadow: 2px 2px;
	transition-duration: 1s;
}

.crop-directory {
	float: left;

}

.crop-planner {
	float: right;
}

.paragraph-index {
	font-size: .9rem;
	margin: 0 50px;
}

.index-img {
	width: 34px;
	height: 34px;
}

.index-header {
	margin: 20px 0 10px 0;
}

/* crop directory page */

.crop-directory-container {
	display: block;
	margin: 0 auto;
	width: 750px;
	height: 750px;
}

.crop-dir-header, .crop-dir-search-box, .crop-dir-return-box {
	display: block;
	width: 100%;
	box-sizing: border-box;
	background-color: rgba(173,216,230,.8);
	box-sizing: border-box;
	border: 2px solid white;
	border-radius: 8px;
	box-shadow: 2px 2px;
	margin: 20px 0;
}

.crop-dir-header {
	margin-top: 200px;
}

.crop-dir-heading {
	text-align: center;
	text-shadow: 1px 1px white;
}

.crop-dir-paragraph {
	font-size: .9rem;
	margin-left: 20px;
}

.crop-search-form {
	display: block;
	margin: 0 auto;
	width: 35%;
	margin-bottom: 10px;
}

.crop-dir-return {
	text-align: center;
	text-shadow: 1px 1px white;
	padding: 10px;
	margin: 0;
}

.return-img-icon {
	display: block;
	margin: 0 auto;
	margin-bottom: 12px;
}

/* single crop page */

.single-crop-container {
	width: 500px;
	height: 750px;
	display: block;
	margin: 0 auto;
	box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 50px;
}

.single-crop-container a {
	color: blue;
	transition: 0.5s;
}

.single-crop-containr a:hover {
	background-color: rgba(216,230,173,.8);
	transition-duration: 2s;
}

.single-crop-grid-container {
	display: grid;
	grid-template-columns: 175px 350px;
	grid-template-rows: auto;
	grid-template-areas: "side_header header"
																						"side_season season"
																						"side_first first_harvest"
																						"side_regrow regrow"
																						"side_produces produces"
																						"side_sell_price sell_price"
																						"side_seed_price seed_price"
																						"side-notes notes";
	background-color: rgba(173,216,230,.8);
	box-sizing: border-box;
	max-width: 600px;
	height: 100%;
	border: 2px solid white;
	border-radius: 8px;
	box-shadow: 2px 2px;
	align-items: center;
	text-align: center;
}

.header {
	grid-area: header;
	text-align: center;
	font-size: 1.2rem;
	color: navy;
	text-shadow: 1px 1px white;
}

.side_header img {
	display: block;
	margin: 0 auto;
}

.side_season, .side_first, .side_regrow, 
.side_produces, .side_sell_price, .side_seed_price {
	color: purple;
	text-shadow: 1px 1px white;
	font-size: 1.2rem;
}

.season, .first_harvest, .regrow, .produces, .sell_price,
.seed_price {
	font-size: 1.2rem;
}

.notes p {
	text-align: left;
	font-size: .9rem;
}

.search-again {
	display: block;
	float: left;
}

.return-index {
	display: block;
	width: 250px;
	height: 100px;
	float: right;
}

.search-again, .return-index {
	margin: 20px 10px;
	background-color: rgba(173,216,230,.8);
	box-sizing: border-box;
	border: 2px solid white;
	border-radius: 8px;
	box-shadow: 2px 2px;
	text-align: center;
	font-size: 1.3rem;
	width: 200px;
	height: 80px;
}

/* calendar page */

#addDiv, #deleteDiv {
	display: none;
}

#addDiv, #deleteDiv {
	position: fixed;
	bottom: 50%;
	left: 50%;
	background-image: linear-gradient(to bottom right, #ff5747, white);
	padding: 20px;
	border-radius: 10px;
	transform: translate(-50%, 30%);
	box-shadow: 2px 2px black;
}

#addDivInfo, #deleteDivInfo, #homeInfo {
	display: none;
	position: fixed;
	bottom: 90px;
	left: 50%;
	background-image: linear-gradient(to bottom right, #ff5747, white);
	padding: 10px;
	border-radius: 10px;
	transform: translate(-50%, 0);
	box-shadow: 2px 2px black;
	z-index: 3;
}

.div-information-hover {
	font-size: .8rem;
	padding: 0;
	margin: 0;
}

#addDiv input[type="submit"] {
	display: block;
	margin: 0 auto;
}

#fixed-buttons {
	display: block;
	clear: both;
	width: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	bottom: 15px;
	margin: 0 auto;
	text-align: center;
}

#fixed-buttons ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

#fixed-buttons a {
	text-decoration: none;
}

#fixed-buttons li {
	padding: 10px 10px;
	display: inline;
}

.season-link a {
	color: white;
}

.fixed-button-season {
	display: inline;
	font-size: 1.3rem;
	text-shadow: 2px 2px black;
	background-image: url("/img/wood_two.jpeg");
	color: white;
	margin-left: -15px;
	border-radius: 15px;
	box-shadow: 2px 2px black;
	padding: 0;
}

.fixed-buttons-profit {
	display: inline;
	font-size: 1rem;
	text-shadow: 2px 2px black;
	background-image: url("/img/wood_two.jpeg");
	color: white;
	border-radius: 15px;
	box-shadow: 2px 2px black;
}

.fixed-button-js {
	background-image: linear-gradient(to bottom right, #ff5747, white);
	text-align: center;
	border: none;
	padding: 10px 10px;
	color: white;
	text-shadow: 1px 1px black;
	cursor: pointer;
	z-index: 2;
	border-radius: 25px;
	box-shadow: 2px 2px black;
	transition: .5s ease;
}

.fixed-button-js:hover {
	background-image: linear-gradient(to bottom right, #2A0D45, white);
}

.fixed-button-js img {
	width: 24px;
	height: 24px;
	margin-top: 5px;
	padding: 0;
}

.banner-container-cal {
	display: block;
	margin: 0 auto;
	width: 300px;
	height: 80px;
	background-color: rgba(136,94,173,.9);
	background-image: linear-gradient(to bottom right, #885ead, #83ad5e);
	margin-top: 14px;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	border-radius: 5px;
	box-shadow: 1px 2px black;
	color: white;
	text-shadow: 1px 2px black;
	text-align: center;
}

.banner-profit-container {
	/* 234,245,152 */
	display: block;
	width: 300px;
	height: 80px;
	background-color: rgba(136,94,173,.9);
	background-image: linear-gradient(to bottom right, #885ead, #83ad5e);
	float: right;
	margin-top: 14px;
	margin-right: 485px;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	border-radius: 5px;
	box-shadow: 1px 2px black;
	color: white;
}

.calendar-container {
	display: block;
	width: 600px;
	height: auto;
	margin: 0 auto;
	margin-top: 20px;
}

.calendar-grid-container {
	display: grid;
	grid-template-columns: 200px 200px 200px;
	grid-template-rows: 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px;
	background-color: rgba(173,216,230,.8);
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	border-radius: 5px;
	box-shadow: 1px 2px;
}
	
.header-container {
	font-family: 'Inconsolata', monospace;
	color: white;
	display: block;
	float: left;
	width: 600px;
	height: 80px;
	margin-top: 14px;
	margin-left: 90px; 
	background-image: url("/img/wood_two.jpeg");
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	border-radius: 5px;
	box-shadow: 1px 2px black;
	text-align: center;
	text-shadow: 1px 1px black;
}

.form-container {
	display: block;
	max-width: 400px;
	height: 700px;
	float: right;
	margin-top: 10px;
	margin-right: 35px;
}

.calendar-grid-form-container {
	display: grid;
	width: 390px;
	height: 740px;
	grid-template-columns: 1fr;
	grid-template-rows: 285px 235px 285px;
	margin-top: 10px;
	background-color: rgba(136,94,173,.85);
	background-image: linear-gradient(to bottom right, #885ead, #83ad5e);
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	border-radius: 5px;
	box-shadow: 1px 2px;
}

.add-crop-form, .delete-crop-form,
.return-home-form, h5 {
	margin: 0;
	padding: 0;
	margin-top: 10px;
	padding-bottom: 7px;
	text-align: center;
}

.add-crop-form {
	border-bottom: 3px solid black;
	text-align: center;
	padding-bottom: 35px;
}

.delete-crop-form {
	border-bottom: 3px solid black;
	text-align: center;
}

.icon-middle a {
	text-align: center;
}

.delete-paragraph {
	margin: 0;
	padding: 0;
	padding-bottom: 25px;
	font-size: 1rem;
	display: inline-block;
}

.or {
	margin: 0;
	padding: 10px 0;
	font-size: .9rem;
}

.form-list {
	list-style-type: none;
	font-size: 0;
	padding: 0;
	margin: 0;
	margin-left: 10px;
}

.form-list li {
	margin: 0;
	padding: 3px;
	font-size: 1rem;
	text-align: left;
	margin-right: 25px;
	margin-left: 10px;
	text-decoration: none;
}

.input-calendar {
	width: 100%;
	margin: 2px 0;
}

.season-option {
	display: inline;
}

.season-option a {
	color: blue;
	transition: 0.5s;
}

.season-option a:hover {
	color: #888B1A;
	transition-duration: 2s;
}

.form-list a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	display: inline-block;
}

.calendar-day {
	border: 1px solid black;
	font-size: 0;
}

.specific-day {
	margin: 0;
	padding: 0;
	font-size: .9rem;
	text-align: left;
	font-weight: bold;
	text-decoration: underline;
}

.produce-name {
	margin: 0;
	padding-left: 5px;
	font-size: .7rem;
	text-align: left;
	display: inline-block;
}

.produce-img {
	margin: 0;
	padding: 0;
	padding-left: 3px;
	margin-top: 3px;
	display: inline-block;
	width: 16px;
	height: 16px;
}

.produce-money {
	margin: 0;
	padding: 0;
	padding-left: 3px;
	margin-top: 7px;
	display: inline-block;
	font-size: .75rem;
	float: right;
	margin-right: 10px;
	color: green;
	text-shadow: .5px 0 darkgreen;
}

.produce-seed-cost {
	margin: 0;
	padding: 0;
	padding-left: 3px;
	margin-top: 7px;
	display: inline-block;
	font-size: .75rem;
	float: right;
	margin-right: 10px;
	color: #FF1D1D;
	text-shadow: .5px 0 lightgray;
}

#produce_amount {
	font-size: .1rem;
}

.idx-return-heading {
	padding-bottom: 0;
	text-align: center;
	text-shadow: 1px 1px white;
	margin-top: 15px;
}

.banner-profit-cal {
	text-align: left;
	padding: 15px;
	box-shadow: 2px 2px black;
	border-radius: 15px;
	font-weight: bold;
	font-size: 1.3rem;
	margin: 26px 0;
	margin-left: 20px;
	text-shadow: 2px 2px black;
	background-image: url("/img/wood_two.jpeg");
	color: white;
}

.profit-number {
	color: #00ff00;
	text-shadow: 1px 1px 2px black;
}

.banner-links {
	list-style-type: none;
	display: inline;
	margin: 0;
	padding: 0;
	height: 30px;
	top: 30px;
}

.banner-container-link a {
	text-decoration: none;
	font-size: 2rem;
	color: white;
	display: inline;
	background-color: transparent;

}

.banner-container-link li {
	font-size: 2.5rem;
	margin: 0;
	padding: 0;
	background-color: none;
	margin-top: 40px;
	display: inline;
}

.banner-container-link {
	display: inline;
	text-shadow: 2px 2px black;
	color: white;
}

.banner-heading {
	margin: 18px 0 0 0;
	padding: 0;
}

.banner-links-container {
	margin: 15px 0 0 0;
}

.return-home-paragraph {
	font-size: 1rem;
	text-align: left;
	margin-left: 16px;
	margin-right: 16px;
}

.input-label-item {
	color: white;
	font-weight: bold;
	text-shadow: 2px 1px black;
}

/* media query calendar, iPad size */

@media only screen and (min-width: 1024px) and (max-width: 1375px) {
	.calendar-grid-container {
		display: grid;
		grid-template-columns: 200px 200px 200px 200px;
		grid-template-rows: 200px 200px 200px 200px 200px 200px 200px;
		background-color: rgba(173,216,230,.8);
		border-bottom: 2px solid black;
		border-right: 2px solid black;
		border-radius: 5px;
		box-shadow: 1px 2px;
	}

	.calendar-container {
		width: 800px;
		margin: 0 auto;
	}
}

/* media query, calendar, small laptop size */

@media only screen and (min-width: 1376px) and (max-width: 1500px) {
	.calendar-grid-container {
		display: grid;
		grid-template-columns: 200px 200px 200px 200px 200px;
		grid-template-rows: 200px 200px 200px 200px 200px 200px;
		background-color: rgba(173,216,230,.8);
		border-bottom: 2px solid black;
		border-right: 2px solid black;
		border-radius: 5px;
		box-shadow: 1px 2px;
	}

	.calendar-container {
		width: 1000px;
		margin: 0 auto;
	}
}

/* media query, calendar, laptop size */

@media only screen and (min-width: 1500px) {
	.calendar-grid-container {
		display: grid;
		grid-template-columns: 200px 200px 200px 200px 200px 200px 200px;
		grid-template-rows: 200px 200px 200px 200px;
		background-color: rgba(173,216,230,.8);
		border-bottom: 2px solid black;
		border-right: 2px solid black;
		border-radius: 5px;
		box-shadow: 1px 2px;
	}

	.calendar-container {
		width: 1400px;
		margin: 0 auto;
	}

	#fixed-buttons li {
		padding: 20px 20px;
		font-size: 1.5rem;
	}

	#fixed-button-js {
		background-image: 
	}

	#season-ul ul {
		display: flex;
		flex-direction: row;
	}
}

/* media query, smaller page (up to 1400px) */
